@import '../../../styles/colors';

$BORDER_COLOR: $GRAY_300;
$BORDER_DARK_COLOR: $GRAY_900;

.Kalend__draw-panel {
  position: relative;
  flex-direction: column;
}

.Kalend__draw-panel__border-left {
  border-left: solid 0.6px $BORDER_COLOR;
}
